<footer id="main_footer_container">
  <nav class="navbar navbar-default navbar-static-bottom">
    <div class="container">
      <div class="col-md-12 text-center">
        <p>Copyright ©2015 - <span class="text-success">Hugo Hernani</span></p>
      </div>
    </div>
  </nav>
</footer>
